
/*---=======================
   08. Start Portfolio  css 
===========================---*/
.filter-btn{
    @media #{$xm}{
        text-align: center;
    }
    & li{
        position: relative;
        display: inline-block;
        padding: 10px 25px;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        border-radius: 25px;
        z-index: 1;
        @media #{$lp}{
            padding: 10px 17px;
        }
        @media #{$lg}{
            padding: 10px 16px;
            font-size: 14px;
        }
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            border-radius: 25px;
            width: 100%;
            height: 100%;
            @extend %gradient-bg;
            color: $white;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            @include transition(.3s);
        }
        &.active{
            color: $white;
            &:after{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.portfolio-area-v1{
    & .portfolio-slider-one{
        margin-left: -40px;
        margin-right: -40px;
        @media #{$lp}{
            margin-left: 0px;
            margin-right: 0px;
        }
        @media #{$lg}{
            margin-left: 0px;
            margin-right: 0px;
        }
        @media #{$xm}{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    & .portfolio-arrows-one{
        padding: 10px;
        border-radius: 40px;
        max-width: 160px;
        margin: auto;
        margin-bottom: -40px;
        @extend %gradient-bg;
        & .slick-arrow{
            display: inline-block;
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, .20);
            border-radius: 50%;
            line-height: 60px;
            text-align: center;
            color: $white;
            font-size: 20px;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
            z-index: 1;
            @include transition(.3s);
            &:hover{
                background-color: $white;
                color: $heading-color;
            }
        }
    }
    & .portfolio-item{
        padding-left: 40px;
        padding-right: 40px;
        & .portfolio-img{
            & a{
                display: block;
            }
            & img{
                width: 100%;
            }
        }
        @media #{$lp}{
            padding-left: 10px;
            padding-right: 10px;
        }
        @media #{$lg}{
            padding-left: 10px;
            padding-right: 10px;
        }
        @media #{$xm}{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.portfolio-area-v2{
    & .section-title{
        @media #{$xm}{
            text-align: center;
        }
    }
    & .portfolio-item{
        &:hover{
            & .portfolio-img{
                & img{
                    @include transform(scale(1.1));
                }
                & .portfolio-overlay{
                    visibility: visible;
                    opacity: 1;
                    & .portfolio-content{
                        @include transform(translateY(0px));
                    }
                }
            }
        }
        & .portfolio-img{
            position: relative;
            overflow: hidden;
            & img{
                width: 100%;
                @include transform(scale(1));
                @include transition(.4s);
            }
            & .portfolio-overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: rgba(253, 99, 80, 0.9);
                visibility: hidden;
                opacity: 0;
                z-index: 1;
                padding: 30px;
                @include transition(.3s);
                & .portfolio-content{
                    @include transform(translateY(-20px));
                    @include transition(.4s);
                    & span.span{
                        font-size: 18px;
                        color: $white;
                        font-weight: 500;
                    }
                    & h3{
                        font-size: 26px;
                        line-height: 36px;
                        color: $white;
                    }
                }
            }
        }
    }
}

.portfolio-details-section{
    & .portfolio-item{
        & .portfolio-content{
            position: relative;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: -60px;
            @media #{$xm}{
                margin-left: 15px;
                margin-right: 15px;
            }
            & .portfolio-meta{
                background-color: $white;
                padding: 50px 50px 40px;
                box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
                @media #{$xm}{
                    padding: 30px 15px;
                }
                & .meta-list{
                    @media #{$xm}{
                        margin-bottom: 20px;
                    }
                    & .meta-item{
                        & span.position{
                            font-size: 14px;
                        }
                    }
                }
                & .button{ 
                    float: right;
                    @media #{$xm}{
                        float: none;
                        text-align: center;
                    }
                    & .main-btn{
                        padding: 15px 35px;
                        &:after{
                            display: none;
                        }
                    }
                }
            }
            & .portfolio-content-box{
                & .content-box{
                    display: flex;
                    align-items: center;
                    & .big-text{
                        margin-right: 40px;
                        min-width: 120px;
                        max-width: 120px;
                        height: 120px;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        font-size: 80px;
                        font-weight: 700;
                        @extend %gradient-bg;
        
                    }
                    & p{
                        margin-bottom: 0px;
                    }
                }
                & p{
                    margin-bottom: 15px;
                }
                & h4{
                    font-size: 26px;
                    line-height: 30px;
                    margin-bottom: 25px;
                }
                & .features-column{
                    position: relative;
                    &:after{
                        position: absolute;
                        top: 40%;
                        @include transform(translateY(40%));
                        right: 0px;
                        font-size: 40px;
                        color: $theme-color;
                        content: '\f178';
                        font-family: 'Font Awesome 5 Pro';
                        font-weight: 300;
                        @media #{$lg}{
                            display: none;
                        }
                        @media #{$xm}{
                            display: none;
                        }
                    }
                }
                & .features-item{
                    & .icon{
                        position: relative;
                        margin-bottom: 28px;
                        & i{
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $white;
                            font-size: 24px;
                            box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.06);
                            margin: auto;
                        }
                        & .count{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            @extend %gradient-bg;
                            color: $white;
                            font-size: 14px;
                            font-weight: 700;
                            margin: auto;
                            margin-top: -20px;
                        }
                    }
                    & .info{
                        & h5{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            & .portfolio-post-gallery-slide{
                margin-left: -15px;
                margin-right: -15px;
                & .content-img{
                    margin-left: 15px;
                    margin-right: 15px;
                    & a{
                        display: block;
                    }
                    & img{
                        width: 100%;
                    }
                }
            }
        }
    }
    & .post-nav-tag{
        padding: 15px;
        background-color: $white;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
        & .post-nav{
            & .thumb{
                margin-right: 20px;
            }
            & .content{
                & h5{
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        & .next-nav{
            direction: rtl;
            & .thumb{
                margin-right: 0px;
                margin-left: 20px;
            }
        }
    }
}